{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body class="flex justify-center items-center h-screen bg-gray-100">
<div class="max-w-md w-full p-6 rounded-lg shadow-md" style="background-color: rgba(255, 255, 255, 0.8);">
    <h1 class="text-2xl mb-4">Todo List</h1>
    <form id="add-todo-form" data-hx-post="{% url 'add_todo' %}" class="mt-4 grid grid-cols-3 gap-2 mb-5">
        <input type="text" id="todo-content" name="content" placeholder="Add..."
               class="col-span-2 w-full py-2 px-3 rounded border border-gray-300">
        <button type="submit" class="col-span-1 text-white px-2 py-2 rounded" style="background: chocolate">Add</button>
    </form>
    <ul id="todo-list" class="list-none">
        {% for todo in todos %}
        <li id="todo-{{ todo.id }}" class="flex items-center mb-2">
            <input type="checkbox" {% if todo.is_completed %}checked{% endif %}
                   onchange="toggleCompletion(this, {{ todo.id }})"
                   data-hx-post="{% url 'toggle_completion' todo.id %}"
                   class="mr-2">
            <span class="text-lg flex-1 {% if todo.is_completed %}line-through text-gray-500{% endif %}">{{ todo.content }}</span>

            <button type="submit"
                    data-hx-post="{% url 'delete-todo' todo.id %}"
                    class="deleteButton py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                Delete
            </button>
        </li>
        {% endfor %}
    </ul>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('add-todo-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var form = this;
            var url = form.getAttribute('data-hx-post');
            var formData = new FormData(form);
            var content = formData.get('content');
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({content: content}) // İçeriği JSON olarak gönder
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        var todoList = document.getElementById('todo-list');
                        var todoItem = document.createElement('li');
                        todoItem.id = 'todo-' + data.todo_id;
                        todo_id = data.todo_id;
                        todoItem.innerHTML = `

        <div style="display: flex; justify-content: space-between;"> <!-- Sağa dayalı olacak şekilde flex kullanımı -->
            <div> <!-- İçerik sol tarafta yer alacak -->
                <input type="checkbox"
                    onchange="toggleCompletion(this, ${data.todo_id})"
                    data-hx-post="/toggle-completion/${todo_id}/">
                <span class="text-lg {% if todo.is_completed %}line-through text-gray-500{% endif %}">
                    ${data.content}
                </span>
            </div>
            <div> <!-- Delete butonu sağ tarafta yer alacak -->
                <button type="submit"
                    data-hx-post="/delete-todo/${todo_id}/"
                    class="deleteButton py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                    Delete
                </button>
            </div>
        </div>

                    `;
                        todoList.appendChild(todoItem);
                        form.reset();
                    } else {
                        console.error('Görev eklenemedi');
                    }
                })
                .catch(error => console.error('Hata:', error));
        });
    });

    $(document).ready(function() {
    // Silme işlemi butonuna tıklandığında
    $('.deleteButton').click(function(e) {
        e.preventDefault();
        var url = $(this).data('hx-post'); // data-hx-post niteliğini al

        var listItem = $(this).closest('li'); // Silinecek öğeyi bul

        $.ajax({
            type: 'POST',
            url: url,
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response) {
                // Silme işlemi başarılıysa öğeyi listeden kaldır
                listItem.remove();
            },
            error: function(xhr, errmsg, err) {
                // Hata durumunda burası çalışır
                alert('Silme işlemi başarısız oldu.');
            }
        });
    });
});


</script>
</body>
</html>
